body {
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}
.container {
  font-family: "Architects Daughter", cursive;
  box-shadow: #7e7f80 0px 10px 10px 5px;
  margin: 45px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url(https://media.9news.com/assets/KUSA/images/a57f9eb0-bab3-4b1a-926a-102421b9a3ac/a57f9eb0-bab3-4b1a-926a-102421b9a3ac_1140x641.jpg);
}
.weather-temperature img {
  margin-right: 5px;
  height: 90px;
  width: 90px;
}
#temperature {
  font-size: 70px;
  margin-bottom: 25px;
}

#city {
  font-size: 60px;
  font-weight: bolder;
}
.float {
  font-size: 25px;
  margin-top: 0;
}
h3 {
  font-size: 24px;
}
ul {
  padding: 0;
  margin-bottom: 45px;
}
li {
  list-style: none;
  font-size: 22px;
  text-transform: capitalize;
}

.location {
  margin-top: 5px;
}
#search,
#text-input,
.location {
  border: rgb(1, 70, 148) 2px solid;
  border-radius: 5px;
  color: rgb(4, 16, 19);
  background-color: rgba(124, 209, 243, 0.377);
  box-shadow: rgb(57, 89, 99) 1px 3px 3px 1px;
}

.fa-map-marker-alt {
  font-size: 26px;
  margin-right: 5px;
}

.weather-temperature .active {
  text-decoration: none;
  color: black;
  cursor: default;
}

.forecast.grid {
  grid-column: 3;
  grid-row: 2 / 6;
}
