body {
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}
.container {
  font-family: "Architects Daughter", cursive;
  box-shadow: #7e7f80 0px 10px 10px 5px;
  margin: 100px auto;
  padding: 20px;
  background-image: url(https://media.9news.com/assets/KUSA/images/a57f9eb0-bab3-4b1a-926a-102421b9a3ac/a57f9eb0-bab3-4b1a-926a-102421b9a3ac_1140x641.jpg);
}
h1 {
  font-size: 56px;
  font-weight: bolder;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
